{
  "steps": [
    {
      "name": "CalculateAdu",
      "parameters": []
    },
    {
      "name": "CalculateAdi",
      "parameters": [
        { "name": "ThresholdDays", "value": "360" }
      ]
    }
  ]
}
